{{ if eq .Params.layout "short" }}
	<article class="pxs psm--desktop border--ltgreen grid__12col grid__9col--desktop grid__3start--desktop mbsm mbmd--desktop">
		<div class="tc">
			<a class="hoverUnderline tc dib mbxs mla mra" href="{{ .RelPermalink }}"><time class="letterspace" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></a>
		</div>
		<h1 class="tc upper letterspace">{{ .Title }}</h1>
		<div class="mbsm mra mla border-bottom--pink border-width"></div>
		<div class="markdown mbxs mbmd--desktop">{{ .Content }}</div>
	</article>

{{ else if eq .Params.layout "video" }}
	<article class="pxs psm--desktop border--ltgreen grid__12col grid__9col--desktop grid__3start--desktop mbsm mbmd--desktop">
		<div class="mbsm">
			<div class="tc">
				<a class="hoverUnderline tc dib mbxs mla mra" href="{{ .RelPermalink }}"><time class="letterspace" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></a>
			</div>
			<h1 class="tc upper letterspace">{{ .Title }}</h1>
			<div class="mbsm mra mla border-bottom--pink border-width"></div>
			<div class="markdown mbxs mbmd--desktop">{{ .Content }}</div>
		</div>
		<div>
			{{ range (.Resources.Match "**.mp4") }}
				{{ $cover := index ($.Resources.Match .Params.cover) 0 }}
				<video width="{{ .Params.width }}" height="{{ .Params.height }}" controls preload="none" {{ if $cover }}poster="{{ $cover.Permalink }}"{{ end }}>
			  		<source src="{{ .Permalink }}" type="video/mp4">
					Your browser does not support the video tag.
				</video> 
			{{ end }}
		</div>
	</article>

{{ else if eq .Params.layout "article" }}
	<article class="grid__12col grid__9col--desktop grid__3start--desktop mbsm mbmd--desktop">
		<div class="grid__3start--desktop mbsm">
			<a class="hoverUnderline" href="{{ .RelPermalink }}"><time class="dib mbxs letterspace" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></a>
			<h1 class="upper letterspace">{{ .Title }}</h1>
			<div class="mra border-bottom--pink border-width"></div>
		</div>

		<div class="dg df--desktop">
			<div class="markdown mbxs prsm--desktop order2 order1--desktop flex__basis flex__grow--desktop">{{ .Content }}</div>
		</div>
	</article>

{{ else if eq .Params.layout "gallery" }}
	<article class="grid__12col grid__9col--desktop grid__3start--desktop mbsm mbmd--desktop">
		<div class="grid__3start--desktop mbsm">
			<a class="hoverUnderline" href="{{ .RelPermalink }}"><time class="dib mbxs letterspace" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></a>
			<h1 class="upper letterspace">{{ .Title }}</h1>
			<div class="mra border-bottom--pink border-width"></div>
		</div>

		<div class="dg df--desktop">
			<div class="markdown mbxs prsm--desktop order2 order1--desktop flex__basis flex__grow--desktop">{{ .Content }}</div>
		</div>
		
		{{/* Gallery */}}
		<div class="mbsm mbmd--desktop order1 order2--desktop flex__grow--desktop flex__basis flex__grow--desktop">
			<div class="dg content--grid grid--gapsm mbsm mbmd--desktop">
				{{ range (.Resources.ByType "image") }}
					<figure class="grid__12col grid__6col--desktop">
						<img src="{{ (.Resize "800x jpg").RelPermalink }}" srcset="{{ (.Resize "600x jpg").RelPermalink }} 600w, {{ (.Resize "1000x jpg").RelPermalink }} 1000w" sizes="(min-width: 1024px) 525px, calc(100vw - 60px)" alt="{{ .Title }}" class="max-width" loading="lazy">
						<figcaption class="color--mdgreen">{{ .Params.description }}</figcaption>
					</figure>
				{{ end }}
			</div>
		</div>
	</article>

{{ else if eq .Params.layout "recipe" }}
	<article class="grid__12col grid__9col--desktop grid__3start--desktop mbxs mbmd--desktop">
		<div class="grid__3start--desktop mbsm mbmd--desktop">
			<a class="hoverUnderline" href="{{ .RelPermalink }}"><time class="dib mbxs letterspace" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></a>
			<h1 class="upper letterspace">{{ .Title }}</h1>
			<div class="mra border-bottom--pink border-width"></div>
		</div>

		<div class="dg df--desktop">
			<div class="markdown mbsm prsm--desktop order2 order1--desktop flex__basis flex__grow--desktop">
				<div class="mbsm">
					{{ .Content }}
				</div>
				{{ with .Params.recipe }}
					<details {{ if .open }}open{{ end }}>
						<summary class="mbxs mbsm--desktop"><h2 class="di h3">{{ .title }}</h2></summary>
						<div>{{ .instructions | markdownify }}</div>
					</details>
				{{ end }}
			</div>
			<div class="mbsm order1 order2--desktop flex__grow--desktop flex__basis flex__grow--desktop">
				{{ range (.Resources.ByType "image") }}
					<img src="{{ (.Resize "800x jpg").RelPermalink }}" srcset="{{ (.Resize "600x jpg").RelPermalink }} 600w, {{ (.Resize "1000x jpg").RelPermalink }} 1000w" sizes="(min-width: 1024px) 525px, calc(100vw - 60px)" alt="{{ .Title }}" class="max-width mbxs mbsm--desktop" loading="lazy">
				{{ end }}
			</div>
		</div>
	</article>

{{ else }}
	<article class="grid__12col grid__9col--desktop grid__3start--desktop mbsm mbmd--desktop">
		<div class="grid__3start--desktop xs mbsm mbmd--desktop">
			<a class="hoverUnderline" href="{{ .RelPermalink }}"><time class="dib mbxs letterspace" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></a>
			<h1 class="upper letterspace">{{ .Title }}</h1>
			<div class="mra border-bottom--pink border-width"></div>
		</div>

		<div class="dg df--desktop">
			<div class="markdown mbxs prsm--desktop order2 order1--desktop flex__basis flex__grow--desktop">{{ .Content }}</div>

			<div class="mbsm border-left--ltgreen order1 order2--desktop flex__grow--desktop flex__basis flex__grow--desktop">
				{{ range (.Resources.ByType "image") }}
					<img src="{{ (.Resize "800x jpg").RelPermalink }}" srcset="{{ (.Resize "600x jpg").RelPermalink }} 600w, {{ (.Resize "1000x jpg").RelPermalink }} 1000w" sizes="(min-width: 1024) 525px, calc(100vw - 60px)" alt="{{ .Title }}" class="max-width plxs plsm--desktop mbxs mbsm--desktop" loading="lazy">
				{{ end }}
			</div>
		</div>
	</article>
{{ end }}
