{{ define "title" }}{{ .Title }}{{ end }}

{{ define "main" }}
<div class="posts phxs content content--grid grid--gapsm--desktop grid--rowgapsm--tablet grid--rowgapmd--desktop" data-page="{{ .Paginator.PageNumber }}" data-total-elements="{{ .Paginator.TotalNumberOfElements }}" data-total-pages="{{ .Paginator.TotalPages }}">
	{{ range .Paginator.Pages }}
		{{ partial "post_content.html" . }}
	{{ end }}
</div>

<div class="pageBoundary">
	<div class="loader content tc mtxs mbxs phxs dn">Loading...</div>

	<noscript>
		<div class="content content--grid grid--gapsm--desktop phxs">
			<div class="df flex--row grid__12col grid__9col--desktop grid__3start--desktop">
			{{ if .Paginator.HasPrev }}<a class="button" href="{{ .Paginator.Prev.URL }}">&larr; Previous</a>{{ end }}
			<span class="flex__grow"></span>
			{{ if .Paginator.HasNext }}<a class="button" href="{{ .Paginator.Next.URL }}">Next &rarr;</a>{{ end }}
			</div>
		</div>
	</noscript>
</div>
{{ end }}
